@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";

.body {
    @include mixins.flex(column, center, center);
    background-color: variables.$cream;
    color: variables.$brownie;

    & header {
        @include mixins.flex(column, center, center);
        padding: functions.pixelsToRem(50) functions.pixelsToRem(50) 0;
        width: 100%;

        & h1 {
            font-size: functions.pixelsToRem(variables.$h1);
            font-weight: normal;
            text-align: center;
        }
    }
}