@use "../../utils/variables";
@use "../../utils/mixins";
@use "../../utils/functions";

.navigation {
    width: 100%;

    &>section {
        @include mixins.flex;
        gap: functions.pixelsToRem(40);

        & button {
            @include mixins.button;
            min-width: 18ch;
            text-align: center;
        }
    }
}