@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";
@use "../../styles/breakpoints";

.footer {
    @include mixins.flex(row, space-between, center);
    background: variables.$brownie;
    width: 100%;
    padding: functions.pixelsToRem(25) functions.pixelsToRem(50);
    gap: functions.pixelsToRem(25);

    @include breakpoints.tablet {
        flex-direction: column;
        align-items: flex-start;
        padding: functions.pixelsToRem(50);
    }

    &>a {
        @include mixins.link;
    }

    &>div {
        @include mixins.flex(row, flex-end, flex-start);
        gap: 0.5rem;
        margin-top: functions.pixelsToRem(5);
        flex-wrap: wrap;

        @include breakpoints.tablet {
            justify-content: flex-start;
        }

        &>span {
            @include mixins.flex(column, center, center);
            font-size: functions.pixelsToRem(variables.$body);
            color: variables.$cream;
        }

        &>a {
            @include mixins.link;
        }
    }
}