@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/functions";

.search {
    position: relative;
    border: none;
    flex-grow: 1;
    width: 100%;

    & label {
        @include mixins.assistiveTechOnly;
    }

    & input {
        @include mixins.transition;
        font-family: variables.$font;
        font-size: functions.pixelsToRem(variables.$body);
        padding: functions.pixelsToRem(15) functions.pixelsToRem(60) functions.pixelsToRem(15) functions.pixelsToRem(30);
        border: variables.$border;
        border-radius: 500px;
        background-color: variables.$cream;
        width: 100%;
        

        &::placeholder {
            color: variables.$coffee;
        }

        &:hover,
        &:focus {
            outline: solid functions.pixelsToRem(10) variables.$caramel;
        }
    }

    & svg {
        position: absolute;
        right: functions.pixelsToRem(30);
        top: 50%;
        transform: translateY(-50%);

        & path {
            fill: variables.$brownie;
        }
    }
}