@use "../../utils/variables";
@use "../../utils/mixins";
@use "../../utils/functions";

.search {
    position: relative;
    border: none;
    flex-grow: 1;

    & label {
        @include mixins.assistiveTechOnly;
    }

    & input {
        font-family: variables.$font;
        font-size: functions.pixelsToRem(25);
        padding: functions.pixelsToRem(15) functions.pixelsToRem(60) functions.pixelsToRem(15) functions.pixelsToRem(30);
        border: variables.$border;
        border-radius: 500px;
        background-color: variables.$cream;
        width: 100%;

        &::placeholder {
            color: variables.$coffee;
        }
    }

    & svg {
        position: absolute;
        right: functions.pixelsToRem(30);
        top: 50%;
        transform: translateY(-50%);

        & path {
            fill: variables.$brownie;
        }
    }
}