@use "./variables";
@use "./functions";

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin assistiveTechOnly() {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin button($ratio: 1) {
    background: none;
    font-family: variables.$font;
    font-size: calc(functions.pixelsToRem(variables.$body) * $ratio);
    padding: calc(functions.pixelsToRem(15) * $ratio) calc(functions.pixelsToRem(30) * $ratio);
    border: variables.$border;
    border-radius: 500px;
    cursor: pointer;

    &[aria-pressed="true"] {
        background-color: variables.$brownie;
        color: variables.$cream;
    }
}

@mixin arch($color: variables.$cream) {
    width: 100%;
    height: 100%;
    border-radius: 500px 500px 0 0;
    background-color: $color;
    border: solid 2px variables.$cream;
    padding: functions.pixelsToRem(18);
}

@mixin border($color: variables.$cream) {
    height: 100%;
    background-color: $color;
    border: solid 2px variables.$cream;
}